@import "tailwindcss";
@config "../../tailwind.config.mjs";

@theme {
  --color-brand-white: #ffffff;
  --color-brand-gray: #f3f4f6;
  --color-brand-blue: #0ea5e9;
  --color-brand-blue-dark: #0369a1;
  --color-brand-green: #10b981;
  --color-brand-green-dark: #047857;
  --color-brand-dark: #111827;
}
